/* src/pages/Login.css */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.submit-button {
  width: 50%;
  margin: auto;
  padding: 12px;
  font-size: 16px;
  background-color: rebeccapurple;
  color: white;
  border: 1px solid rebeccapurple;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: whitesmoke;
  color: black;
  border: 1px solid rebeccapurple;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}
