.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rebeccapurple;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
}

.navbar-title:hover {
  cursor: pointer;
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.logout-button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  margin-left: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.logout-button:hover {
  background-color: white;
  color: rebeccapurple;
}
