.detail-title {
  text-align: center;
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.detail-container {
  padding: 20px;
}

.detail-container p {
  font-size: 16px;
  margin-bottom: 10px;
}

.detail-container strong {
  color: #555;
}

.detail-container h3 {
  margin-top: 20px;
  color: #444;
}

.detail-container ul {
  list-style-type: none;
  padding-left: 0;
}

.detail-container ul li {
  margin-bottom: 5px;
}
